@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #003285;
}
span,
.bg-color-primary {
  background-image: linear-gradient(to right, #7a0d8a, #c92085, #c68109);
  color: transparent;
  -webkit-background-clip: text;
}
.bg-color-primary {
  @apply bg-gradient-to-r from-[#7a0d8a] via-[#c92085] to-[#c68109];
}
h2 {
  @apply text-xl md:text-4xl text-[#FF7F3E];
}
p {
  @apply  tracking-tight leading-relaxed text-[#FFDA78] text-left;
}
textarea,input{
  @apply mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4;
}
.glass{
  background: linear-gradient(135deg, rgba(55,55,55,0.1),rgba(255,255,255,0));
  filter: blur(20);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
}
.active-project{
  position:relative;
}
.active-project::before,
.active-project::after{
  content: "";
  position:absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: pink;
  bottom: -6px;
}
.active-project::after{
  background-color: yellow;
  width: 80%;
  bottom: 1px;
}